@import '~antd/dist/antd.css';

.h100 {
    height: calc(100vh - 128px);
}

.pd16 {
    padding: 16px;
}

.scrollable {
    overflow: auto;
    padding: 16px 50px;
    background-color: white;
}

@media (max-width: 576px) {
    .scrollable {
        padding: 16px 16px;
    }
}

.position-abs {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
}
